* {
  margin: 0;
  padding: 0;

  box-sizing: border-box;
}

body {
  font-family: 'Inter', sans-serif;

  background-color: #f9f5ed;
}

.container {
  padding: 16px 32px;
  margin-inline: auto;
  max-width: 1200px;
}

.card {
  border-radius: 12px;
  box-shadow: 0 4px 4px 0 #777;
  overflow: hidden;
}

.card .card-image img {
  display: block;
  width: 100%;
}

.card .card-body {
  padding: 12px;
}

.card .card-body .card-body__title {
  font-size: 1.5rem;
  margin-block-end: 8px;
}

/* HEADER */
.header-content {
  display: flex;
  align-items: center;
}

.header-content .brand-name img {
  margin-right: 32px;
}

.header-content .navlist li {
  display: inline;
}

.header-content .navlist li a {
  display: inline-block;
  padding: 16px 32px;

  color: #141e16;
  text-decoration: none;
}

.header-content .drawer-button {
  display: none;

  padding: 8px;
  border: 0;
  border-radius: 4px;

  font-weight: bold;
  font-size: 28px;
  color: #141e16;

  background-color: transparent;

  cursor: pointer;
}

/* MAIN */
main .main-content > :not([hidden]) ~ :not([hidden]) {
  margin-block-start: 30px;
}

main section {
  padding-block: 30px;
}

main section .section-title {
  text-align: center;
  font-size: 2.5rem;
  padding-block: 50px 40px;
}

main .hero {
  min-height: 90vh;
  padding-block: 50px;

  display: flex;
  align-items: center;
  gap: 30px;
}

main .hero .hero__content {
  flex-grow: 1;
}

main .hero .hero__content h2 {
  font-size: 4rem;
  font-weight: bold;
}

main .hero .hero__content p {
  margin-block-start: 32px;
  font-size: 1rem;
}

main .hero .hero__content button {
  margin-block-start: 64px;
  padding: 12px 16px;
  border: 0;
  border-radius: 8px;

  background-color: #3b855b;

  font-size: 1rem;
  font-weight: bold;
  color: white;

  cursor: pointer;
}

main .hero .hero__image {
  flex-grow: 1;
}

main .hero .hero__image img {
  display: block;
  width: 100%;
}

main .music-list {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 24px 18px;
}

main .music-list .music-list__item__audio {
  display: block;
  width: 100%;
  margin-block-start: 16px;
}

/* FOOTER */
footer {
  padding-block: 18px;
}

footer .copyright {
  text-align: center;
}

@media screen and (width <= 750px) {
  .header-content {
    justify-content: space-between;
  }

  .header-content .drawer-button {
    display: inline-block;
  }

  .header-content .navlist {
    background-color: white;
    min-height: 100vh;
    width: 200px;

    position: fixed;
    top: 0;
    left: 0;

    transform: translateX(-200px);
    transition: all 300ms ease-in-out;
  }

  .header-content .navlist li,
  .header-content .navlist li a {
    display: block;
  }

  .header-content .navlist.open {
    transform: translateX(0);
    box-shadow: 2px 0 6px 0 #777;
  }

  main .hero {
    flex-direction: column;
  }
}

@media screen and (width <= 1000px) {
  main .hero .hero__content h2 {
    font-size: 3rem;
  }
}
